.App {
  text-align: center;
}
.testButton {
display: flex;
margin: auto;
margin-top: 10rem;
height: 25vh;
width: 50vw;
font-size: 4rem;
font-weight: 800;

}
#item-server-request {
  display: flex;
  overflow: auto;
  margin: auto;
  background-color: darkgray;
  padding: 1rem;
  margin-top: 3rem;
  height: max-content;
  width: 50%;

  justify-content: center;
  gap: 0.5rem;
  & input{
    display: flex;
    height: 3rem;
    font-size: 2rem;
    font-weight: 800;
  }
  & button{
    display: flex;
    height: 3rem;
    font-size: 1rem;
  font-weight: 800;
  }
  & div {
    display: flex;
    flex-direction: row;
  }

}